{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets":{
          "esmodules":true
        },
        "bugfixes": true,
        "spec":true,
        "modules":false
      }
    ],
    "@babel/preset-typescript"
  ],
  "include":[
    "*",
    "./src/resources/modules/default/index.ts"
  ],
  "ignore": [
    "./src/libs/three/*",
    "ammo.d.ts"
  ],
  "exclude":[
    // "./src/libs/three/**/*.d.ts"
    "package.json"
  ]
}